html 
    head 
        title Simple template 
    body 
        include ./header.pug 
        h3 Today's news.
        div
        h6 - Kavanaught under FBI investigation. 
        h6 - Borama local council elects new Mayor.
        h6 - The future of AI and dangers that are facing humanity.
        h6 - Saudi King opens a new train line that connects Holly Cities.
        include ./footer.pug 
